# Node Server Configuration
PORT=3000
DOMAIN=localhost
NODE_ENV=production

# API Security
API_KEY=your-secret-api-key-here

# GCP Application Deployment Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-north1
APP_SERVICE_NAME=citylayers-landing
REPO_NAME=docker-repo-citylayers
